// Colors

// Scaffolding
$text-color: #333;

// Typography
$font-size-base: 18px;
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$headings-font-family: 'Playfair Display', sans-serif;
$headings-font-weight: 400;

// Scale - Perfect Fifth
$font-size-h1: 5.063em;
$font-size-h2: 3.375em;
$font-size-h3: 2.25em;
$font-size-h4: 1.5em;
$font-size-h5: 1em;
$line-height-base: 1.45;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: (
        0: 0,
        1: ($spacer * .25),
        2: ($spacer * .5),
        3: $spacer,
        4: ($spacer * 1.5),
        5: ($spacer * 3)
) !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;
