// Colors

// Scaffolding
$text-color: #494949;

// Typography
$font-size-base: 18px;
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$headings-font-family: 'Playfair Display', sans-serif;
$headings-font-weight: 400;

// Scale - Perfect Fifth
$font-size-h1: 5.063em;
$font-size-h2: 3.375em;
$font-size-h3: 2.25em;
$font-size-h4: 1.5em;
$font-size-h5: 1em;
$line-height-base: 1.45;

